* { 
 margin: 0;   
 padding: 0;
 box-sizing: border-box;

}

body {
    font-family: Arial;
}

.inicio {
    width: 400px;
    height: 360px;
    background:rgb(4, 100, 252);
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px rgb(253, 236, 2);
    padding: 20px 30px;
    color: rgb(247, 231, 8);
    

}

.inicio h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
}

.controls { 
    width: 100%;
    border: 1px solid  rgb(204, 172, 172);
    margin-bottom: 14px;
    padding: 11px 10px;
    background: rgb(189, 164, 164);
    font-size: 14px;
    font-weight: bold;


}


.inicio p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
    margin-top: 10px;
    
}

.boton {
    background-color: cyan;
    color: black;
}

.boton:hover{
    background-color: gold;
}

.confirmacion {
    padding: 30px;
    background-color: white;
    text-align: center;
    width: 50%;
    margin-top: 18%;
    margin-left: 25%;

}
.trabajos{
    padding: 30px;
    background-color: white;

}